extends /layout/layout-main.pug

append styles
    link(rel="stylesheet", href="/css/forms.css")

block body
    main
        form.product-form(action=(product.id || product._id) ? '/admin/products/' + (product.id || product._id) : '/admin/products/', method="POST")
            .form-control
                label(for="title") Title
                input(type="text", value=product.title, name="title", id="title")
            .form-control
                label(for="imageUrl") Image
                input(type="text", value=product.imageUrl, name="imageUrl", id="imageUrl")
            .form-control
                label(for="price") Price
                input(type="number", step="0.01" value=product.price, name="price", id="price")
            .form-control
                label(for="description") Description
                input(type="text", value=product.description, name="description", id="description")
            if (product.id || product._id)
                button.btn(type="submit") Update Product
            else
                button.btn(type="submit") Add Product