extends /layout/layout-main.pug

append styles
    link(rel="stylesheet", href="/css/product.css")

block body
    main
        if products.length > 0
            h1 Admin products
            .grid
                each product in products
                    include /shop/partials/product-card
        else
            h1 No products