article.card.product-item
    header.card__header
        h1.product__title #{product.title}
    .card__image
        a(href="products/" + (product.id || product._id))
            img(src=product.imageUrl, alt="")
    .card__content
        h2.product__price $#{product.price}
        p.product__description #{product.description}
    .card__actions
        if !cart
            if isAdmin
                a(href="/admin/products/delete?id=" + (product.id || product._id))
                    button.btn Delete
            form.inline-block(action="/cart", method="post")
                button.btn Add to Cart
                input(type="hidden", value=(product.id || product._id), name="productId")
        else
            b Qty: #{product.cartItem.quantity} -
            a(href="/cart/delete?id=" + (product.id || product._id))
                    button Remove from Cart