header.main-header
    nav.main-header__nav
        ul.main-header__item-list
            li.main-header__item
                a(href="/", class=(route === '/' ? 'active' : '')) Shop
            li.main-header__item
                a(href="/products", class=(route === '/products' ? 'active' : '')) Products
            li.main-header__item
                a(href="/cart", class=(route === '/cart' ? 'active' : '')) Cart
                    if cartQty > 0
                        span.cart-label #{cartQty}
            li.main-header__item
                a(href="/orders", class=(route === '/orders' ? 'active' : '')) Orders
            li.main-header__item
                a(href="/admin/add-product", class=(route === '/admin/add-product' ? 'active' : '')) Add Product
            li.main-header__item
                a(href="/admin/products", class=(route === '/admin/products' ? 'active' : '')) Admin Products