extends /layout/layout-main.pug

append styles
    link(rel="stylesheet", href="/css/product.css")

block body
    main
        if cart.products.length > 0
            h1 My Cart - Total Price: $#{cart.totalPrice}
            .grid
                each product in cart.products
                    include partials/product-card
            <br><hr>
            form.text-center(action="/create-order", method="POST")
                button.btn(type="submit") Create Order
        else
            h1 No products