extends /layout/layout-main.pug

append styles
    link(rel="stylesheet", href="/css/product.css")

block body
    main
        if orders.length > 0
            h1 My Orders
            ul
                each order in orders
                    li <b>Order Id: #{order.id}</b>
                        ol
                            each product in order.products
                                li 
                                    p Product: #{product.title}
                                    p Price: $#{product.price} | Qty: #{product.orderItem.quantity}
                                    p <b>Total:</b> $#{product.price * product.orderItem.quantity}
        else
            h1 No Orders
            