extends /layout/layout-main.pug

append styles
    link(rel="stylesheet", href="/css/product.css")

block body
    main
        h1(id=product.id) Product details - <i>#{product.title}</i>
        <hr>
        p
            img(src=product.imageUrl, alt="")
        p <b>Desccription:</b> #{product.description}
        p <b>Price:</b> $#{product.price}
