extends /layout/layout-main.pug

append styles
    link(rel="stylesheet", href="/css/product.css")

block body
    main
        if products.length > 0
            h1 My products
            .grid
                each product in products
                    include partials/product-card
        else
            h1 No products