<!DOCTYPE html>
html(lang="en")
    head
        block meta
            meta(charset="UTF-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            meta(http-equiv="X-UA-Compatible", content="ie=edge")
        block title
            title #{docTitle}
        block styles
            link(rel="stylesheet", href="/css/main.css")
    body
        block header
            include /includes/header
        block body
